<a href="https://colab.research.google.com/github/DhirajBembade/Python/blob/main/Python%20Basics-5%20%5B%20Strings%20%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **# String**

---



Any sequence of characters within either single quotes or double quotes is considered as a String.

* We can define multi-line String literals by using triple single or double quotes.

Example- You can use """three double quotes""" or '''single double quotes'''

 We can also use triple quotes to use single quotes or double quotes as symbol inside
 String literal

In [22]:
# Using three single quotes:
a = '''My relationship with sucess 
has been driven largely
my relationship with multiple failures.'''
print(a)   #Note- print() must be in smae as line as a or the result, the line breaks are inserted at the same position as in the code.

My relationship with sucess
has been driven largely
my relationship with multiple failures.

In [23]:
# You can use three double quotes:

a = """My relationship with sucess 
has been driven largely
my relationship with multiple failures."""
print(a)

My relationship with sucess
has been driven largely
my relationship with multiple failures.

In [ ]:
s= 'data science'
s = "data"
a = ''' This is a "data science" course'''

# How to access characters of a string?

 We can access characters of a string by using the following ways.
1. By using index


2. By using slice operator

In [25]:
s= 'data science'

In [ ]:
# 1. accessing characters by using index
s[0]

'd'

In [ ]:
a[-1]

'e'

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
s[1:7:1]

'earnin'

In [ ]:
s[::]  # :: use for all element

'Learning Python is very very easy!!!'

In [ ]:
s[::-1]   #::-1 reverse 0th--upto--last index

'!!!ysae yrev yrev si nohtyP gninraeL'

In [ ]:
# Note: Slice operator never raises IndexError
s[1000:2:-1]

'!!!ysae yrev yrev si nohtyP gninr'



---

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [5]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])          #The first character has index 0.

llo

* Slice From the Start--

By leaving out the start index, the range will start at the first character:

Example
Get the characters from the start to position 5 (not included):

In [6]:
b = "Hello, World!"
print(b[:5])

Hello

* Slice To the End-

By leaving out the end index, the range will go to the end:

Example
Get the characters from position 2, and all the way to the end:

In [12]:
x= "Hello, World!"
print(x[2:])

llo, World!

In [8]:
b = "Hello, Good morning!"
print(b[2:])

llo, Good morning!

* Negative Indexing--

Use negative indexes to start the slice from the end of the string:

Example

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [13]:
b = "Hello, World!"
print(b[-5:-2])

orl

* Remove Whitespace--

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Example

The strip() method removes any whitespace from the beginning or the end:

In [14]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!



---

**# len() in-built function**

In [ ]:
len(s)

36

In [17]:
x= "I Like Python"
len(x)     # space also counted & start count from 0

13

##### Q)Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?

In [ ]:
s="Learning Python is very easy!!!"
n=len(s)   
i=0
print("Forwarddirection")
while i<n:
  print(s[i],end='') # we used ' ' for come into one line
  i+=1

print("Backwarddirection")
i=-1
while i >= -n:
  print(s[i],end='')
  i = i-1

Forwarddirection
Learning Python is very easy!!!Backwarddirection
!!!ysae yrev si nohtyP gninraeL

* Practice-

In [19]:
a = ("You are what you do, Not what you say you'll do.")
n= len(a)
i=0
print("Forward direction is")
while i<n:
  print(a[i], end='')
  i+=1

Forward direction is
You are what you do, Not what you say you'll do.

In [20]:
a = ("You are what you do, Not what you say you'll do.")
n= len(a)
i=0
print("Backword direction is")
while i>= -n:
  print(a[i], end='')
  i=i-1

Backword direction is
Y.od ll'uoy yas uoy tahw toN ,od uoy tahw era uoY

# Checking Membership:

 We can check whether the character or string is the member of another string or not by
 using in and not in operators.

In [ ]:
s = "data"
'd' in s

True

#  Comparison of Strings

 We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for
 strings.

In [ ]:
s1=input("Enter first string:")
s2=input("Enter Second string:")
if s1==s2:
  print("Both strings are equal")
elif s1<s2:
  print("First String is less than Second String")
else:
  print("First String is greater than Second String")

Enter first string:data
Enter Second string:science
First String is less than Second String

# Removing Spaces from the String:

1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [ ]:
city=input("Enter your city Name:")
scity=city.strip()
if scity=='Hyderabad':
    print("Hello Hyderbadi..Adab")
elif scity=='Chennai':
    print("Hello Madrasi...Vanakkam")
elif scity=="Bangalore":
    print("Hello Kannadiga...Shubhodaya")
else:
    print("your entered city is invalid")

Enter your city Name:Pune
your entered city is invalid

In [ ]:
s = " Data "
s.strip()

'Data'

In [ ]:
s.rstrip()

' Data'

# Finding Substrings:
We can use the following 4 methods

For forward direction:

1) find() 

2) index()

 For backward direction:
 
1) rfind()

2) rindex()

1) find()

In [ ]:
# find(): Returns index of first occurrence of the given substring. If it is not available then we will
# get -1.
s="data"
s.find("data") #0th index

0

In [ ]:
# syntax: s.find(substring,bEgin,end)
s.find("a",1,4)

1

2)index()

index() method is exactly same as find() method except that if the specified substring is
 not available then we will get ValueError.

In [ ]:
# we will get a error if the substring is not available
s.index('m')

ValueError: ignored

In [ ]:
s.index('a')

1

  Q) Program to display all Positions of Substring in a given
  Main String

In [ ]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:saeaeaareastfha
Entersubstring:a
Found at position 1
Found at position 3
Found at position 5
Found at position 6
Found at position 9
Found at position 14

# Count substring in the given String:

We can find the number of occurrences of substring present in the given string by using
count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index.

In [ ]:
s="abcabcabcabcadda"
print(s.count('a'))

6

# Replacing a String with another String:

 s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String.

In [ ]:
 s = "Learning Python is very difficult"
 s1 = s.replace("difficult","easy")
 print(s1)

Learning Python is very easy

# Splitting of Strings:

 We can split the given string according to specified seperator by using split() method.

 * The split() method returns a list where the text between the specified separator becomes the list items.

Syntax:
l = s.split(seperator)

In [ ]:
s="22-02-2018"
l=s.split('-')
for x in l:
  print(x)

22
02
2018

In [ ]:
l

['22', '02', '2018']

#  Joining Of Strings:

s = seperator.join(group of strings)

In [21]:
list1= ["data","science","ai"]
"-".join(list1)

'data-science-ai'

#  Changing the case of a string:

upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case
characters to lower case

title() --> To convert all character to title case. i.e first character in every word should
be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining
characters can be converted to lower case.

In [ ]:
s='learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

# Checking Starting and Ending Part of the String:

 Python contains the following methods for this purpose.

s.startswith(substring)

 s.endswith(substring)

In [ ]:
s='learningPythonisveryeasy'
print(s.startswith('learning'))
print(s.endswith('learning'))
print(s.endswith('easy'))

True
False
True

#   To Check Type of Characters Present in a String:

Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).
 
isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols
 
isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [ ]:
print('Datascience786'.isalnum()) # True

True

In [ ]:
print('Abc'.islower()) #False

False

In [ ]:
print('Learning Python Is Easy'.istitle())

True

#  Formatting the Strings:
  We can format the strings with variable values by using replacement operator {} and
 format() method.

In [ ]:
name='rajesh'
salary=10000
age=31
print("{}'s salary is {} and his age is{}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

rajesh's salary is 10000 and his age is31
rajesh's salary is 10000 and his age is 31
rajesh's salary is 10000 and his age is 31

  Q1) Write a Program to Reverse the given String

In [ ]:
s=input("EnterSomeString:")
print(s[::-1])

EnterSomeString:rajesh
hsejar

In [ ]:
s= 'rajesh'
''.join(reversed(s))

'hsejar'

Q2) Program to Reverse Order of Words

Input: Learning Python is very Easy

 Output: Easy Very is Python Learning

In [ ]:
s='Learning Python is very Easy'
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

Easy very is Python Learning

Q3) Write a Program to Remove Duplicate Characters from
  the given Input String?

  Input: ABCDABBCDABBBCCCDDEEEF

 Output: ABCDEF

In [ ]:
s=input("EnterSomeString:")
l=[]
for x in s:
  if x not in l:
     l.append(x)
output=''.join(l)
print(output)

EnterSomeString:abcdabbcdabbbdddeeef
abcdef

Q4) Write a Program to find the Number of Occurrences of
each Character present in the given String?

Input: ABCABCABBCDE

Output: A-3,B-4,C-3,D-1,E-1

In [ ]:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some String:aaabbbccc
a = 3 Times
b = 3 Times
c = 3 Times

In [ ]:
s="aaasssddd"
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1

In [ ]:
d

{'a': 3, 'd': 3, 's': 3}